.features
  width: calc( 100% - 240px)
  max-width: 1200px
  margin: auto
  min-height: 960px
  background-image: url('../../images/bg_image3.jpg')
  background-size: contain
  background-repeat: no-repeat 
  display: flex

.features__container
  width: 50%

.features__content
  width: 50%
  margin-left: 200px

.features__subtitle
  margin-top: 171px

.features__title
  margin-top: 8px
  text-transform: uppercase

.features__items
  margin-top: 50px
  display: flex
  gap: 25px

.features__scale
  width: 14px
  margin-top: 9px


.features__list
  display: flex
  flex-direction: column
  gap: 29px

.features__name
  color: #FFB548
  font-size: 36px
  line-height: normal
  letter-spacing: 2px

.features__text
  width: 362px

.features__item
  position: relative

.features__circle
  position: absolute
  left: -32px
  top: 12px
  display: block
  width: 14px
  height: 14px
  border-radius: 50%
  background-color: #fff


.features__line
  position: absolute
  left: -32px
  top: 12px
  display: block
  width: 2px
  height: 135%
  background-color: #fff
  margin-left: 6px
