@import "../../utils/styles/media"

.about
  width: calc( 100% - 240px )
  max-width: 1200px
  min-height: 800px
  display: flex
  margin: auto
  padding-top: 200px
  background-image: url('../../images/bg2.jpg')
  background-size: contain
  background-repeat: no-repeat 
@include desktopXL
  .about
    width: calc( 100% - 60px )
    flex-direction: column
    padding-top: 40px

.about__content
  width: 50%
  height: 610px
  padding-right: 60px
@include desktopXL
  .about__content
      margin: auto
      height: min-content
      padding: 0 0 40px 0
@include tablet
  .about__content
      width: 100%

.about__subtitle
  margin-top: 76px

.about__title
  margin-top: 8px

.about__line
  width: 100%
  height: 2px
  background-color: #fff

.about__text
  width: 364px
  margin-top: 24px
  margin-left: 180px
  text-align: justify
@include desktop
  .about__text
    text-align: center
    margin: 24px auto
@include phone
  .about__text
    width: 100%
