html
    background-color: black
    
body 
    width: 100%
    min-height: 960px
    display: flex
    margin: auto
    color: #fff
    
.app 
    width: 100%
    background-image: url('../images/bg.jpg')
    background-size: cover
    background-repeat: no-repeat
    background-position: center 

ul
    margin: 0
    padding: 0
    list-style: none

.link
    cursor: pointer
    text-decoration: none
    color: #fff
    transition: opacity .3s 
    &:hover
        opacity: .6
