.header 
    width: 1200px
    display: flex
    justify-content: space-between
    align-items: center
    margin: auto
    margin-top: 21px
    font-size: 12px
    font-weight: 700
    line-height: normal
    letter-spacing: 2.5px
    text-transform: uppercase

.header__logo
    width: 56.1px
    height: 55px

.header__content
    display: flex
    gap: 21px

.header__refs
    display: flex
    gap: 21px

.header__link_ref
    display: block
    width: 30px
    height: 30px

.link_xbox
    background-image: url('../../images/xbox.svg')

.link_steam
    background-image: url('../../images/steam.svg')