.quotes
  width: calc( 100% - 240px)
  max-width: 1200px
  margin: auto
  min-height: 760px
  background-image: url('../../images/bg_image5.jpg')
  background-size: contain
  background-repeat: no-repeat 
  display: flex

.quotes__block
    height: 657px
    margin: 152px 0
    width: 100%
    display: flex

.quotes__content
    width: calc( 50% - 16px)

.quotes__subtitle
    margin-top: 133px

.quotes__title
    width: 100%
    margin-top: 9px

.quotes__text
    width: 434px
    margin: 50px 0

.quotes__blocks
    width: 50%
    height: 682px
    display: flex
    gap: 32px
    flex-direction: column
    overflow: hidden
    