@import "../../utils/styles/media"
    
.quotes
  width: calc( 100% - 240px)
  max-width: 1200px
  margin: auto
  min-height: 760px
  display: flex
@include desktopXL
  .quotes
    width: calc( 100% - 60px )

.quotes__block
    margin: 152px 0
    width: 100%
    display: flex
@include desktopXL
    .quotes__block
        flex-direction: column

.quotes__content
    width: 430px
    padding-right: 16px
@include desktopXL
    .quotes__content
        width: 50%
        margin: auto
        padding: 0
        padding-bottom: 50px
@include tablet
    .quotes__content
        width: 100%

.quotes__subtitle
    margin-top: 133px
@include desktopXL
    .quotes__subtitle
        margin-top: 0

.quotes__title
    width: 100%
    margin-top: 9px

.quotes__text
    margin: 50px 0
@include desktop
  .quotes__text
    text-align: center

.quotes__blocks
    width: 600px
    height: 682px
    display: flex
    gap: 32px
    margin-left: auto
    flex-direction: column
    overflow: hidden
@include desktopXL
    .quotes__blocks  
        margin: auto
@include desktop
    .quotes__blocks  
        width: 100%
        justify-content: space-around
        flex-direction: row
        flex-wrap: wrap
        height: min-content

@include desktop
    .quotes__button
        display: block
        margin: auto