.footer
    width: 1200px
    margin: auto
    display: flex
    flex-direction: column
    padding-bottom: 52px

.footer__block
    display: flex
    justify-content: space-between
    align-items: baseline

.footer__logo
    width: 92px
    height: 90px

.footer__list
    display: flex
    gap: 56px

.footer__link
    display: block
    width: 20px
    height: 20px

.footer__facebook
    background-image: url('../../images/facebook.svg')
.footer__twitter
    background-image: url('../../images/twitter.svg')
.footer__youtube
    background-image: url('../../images/youtube.svg')
.footer__twitch
    background-image: url('../../images/twitch.svg')

.footer__line
    width: 100%
    height: 1px
    background-color: #fff
    opacity: .5
    margin: 30px 0 22px

.footer__rights
    font-size: 14px
    font-weight: 400
    line-height: normal
    opacity: .5

.footer__underlist
    gap: 8px

.footer__doc
    padding-right: 8px
    font-size: 12px
    font-weight: 700
    line-height: normal
    letter-spacing: 1.2px
    text-transform: uppercase

.footer__item
    display: flex
    align-items: center