.requirements
    width: calc( 100% - 240px )
    max-width: 1200px
    margin: auto
    min-height: 800px
    background-image: url('../../images/bg_image4.jpg')
    background-size: contain
    background-repeat: no-repeat 

.requirements__subtitle
    display: block
    width: 100%
    text-align: center
    font-size: 24px
    line-height: normal
    letter-spacing: 2px
    margin-top: 145px

.requirements__title
    display: block
    width: 100%
    text-align: center
    font-size: 80px
    line-height: normal
    letter-spacing: 3px
    margin-top: 8px

.requirements__item
    color: #FFB548
    font-size: 24px
    line-height: normal
    letter-spacing: 2px

.requirements__text
    display: block
    margin-top: 8px

.requirements__list
    width: 572px
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: 127px
    margin-top: 140px


.requirements__element
    border: 1px solid rgb(151, 151, 151, .2)
    padding: 18px

.requirements__longer 
     grid-area: 3 / 1 / 4 / 3
     padding-bottom: 51px